.daily-report-section {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #5732db; */
  justify-content: space-between;
}

.daily-report-title {
  margin-bottom: 1rem;
}

.report-title {
}

.daily-report-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  /* border: 2px solid #5732db; */
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  .daily-report-content {
    gap: 1.5rem;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 37.5em) {
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
}
