.main-report-section {
  /* border: 2px solid #5732db; */
  background-image: url(../assets/images/bg-today-large.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  min-height: 25rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 0 2rem;
}

.main-report-geoInfo {
  /* border: 2px solid red; */
  font-size: 1.6rem;
}

.main-report-name {
  font-size: 3.2rem;
}

.main-report-image {
  display: block;
  margin: auto;
  width: 60%;
}

.main-report-temp {
  /* border: 2px solid rgb(86, 170, 55); */
  font-size: 5rem;
  text-align: right;
}
