.sub-report-section {
  /* background-color: rgba(195, 195, 195, 0.4);
  border: 2px solid #5732db; */
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
}

/* 980px / 16px = 61.25em */
@media (max-width: 37.5em) {
  .sub-report-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
}
