.units-dropdown {
  /* background-color: red; */
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 3;
  top: 5rem;
  right: 0;
  background-color: var(--Neutral-800);
  border: 2px solid var(--Neutral-600);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 1px 10px 1px var(--Neutral-1000);
}

.dropdown-wrapper {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  /* background: red; */
}

.show {
  display: block;
}

.units-dropdown-button {
  background: var(--Neutral-600);
  color: var(--Neutral-0);
  /* display: block; */
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  transition: background 0.2s 0s ease-in-out;
}

.units-dropdown-button:hover {
  background: var(--Neutral-700);
}

.nav-units-img {
  margin-right: 0.5rem;
}

.units-dropdown-button span {
  margin-right: 0.5rem;
}

.unit-type-div {
  border-bottom: 2px solid var(--Neutral-600);
  padding: 0.5rem 0 1rem;
}
.unit-type-div:last-of-type {
  padding-bottom: 0;
}

.unit-type-div:last-of-type {
  border-bottom: none;
}
.unit-type-label {
  /* background-color: aquamarine; */
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--Neutral-300);
  padding: 0 0.5rem;
}

.dropdown-items {
  display: flex;
  width: 100%;
  background: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  transition: background 0.3s 0s ease-in-out;
}

.dropdown-items:hover {
  background: var(--Neutral-700);
}

.switch-unit {
  background: none;
  justify-content: center;
}
