@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

:root {
  /* Primary Color */
  --Neutral-1000: hsl(242, 100%, 6%);
  --Neutral-900: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --Neutral-700: hsl(243, 23%, 24%);
  --Neutral-600: hsl(243, 23%, 30%);
  --Neutral-300: hsl(240, 6%, 70%);
  --Neutral-200: hsl(250, 6%, 84%);
  --Neutral-0: hsl(0, 0%, 100%);
  /* Orange */
  --Orange-500: hsl(28, 100%, 52%);
  /* Blue */
  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

html {
  font-size: 62.5%;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  background-color: var(--Neutral-900);
  background: linear-gradient(0deg, var(--Neutral-1000), var(--Neutral-900));
  color: var(--Neutral-0);
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem 3rem;
  margin: 0 auto;
  min-height: 100vh;
  /* border: 2px solid red; */
}

.report-title {
  font-size: 1.8rem;
  font-weight: 600;
}

button {
  border: none;
  background: none;
  color: var(--Neutral-0);
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;

  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}
